name: .NET Core Desktop

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

defaults:
  run:
    shell: pwsh
env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_NOLOGO: true
  OutputDirectory: ${{ github.workspace }}\artifacts
  Version: ${{ github.ref_name }}

jobs:

  build:
    strategy:
      matrix:
        configuration: [ Release]

    runs-on: windows-latest 

    env:
      Solution_Name: TestDataPlugin.csproj
      
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    # Add  MSBuild to the PATH: https://github.com/microsoft/setup-msbuild
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v2

    - name: Normalize version
      run: |
           $raw = "${{ github.ref_name }}"
           if ($raw -match '^v\d+\.\d+\.\d+') {
                $version = $raw -replace '^v'
           } else {
                $shortSha = "${{ github.sha }}".Substring(0, 8)
                $version = "0.0.0-$raw+$shortSha"
           }
           $safeVersion = $version -replace '[^a-zA-Z0-9\.\-_]', '_'
           echo "Version=$version" >> $env:GITHUB_ENV
           echo "SafeVersion=$safeVersion" >> $env:GITHUB_ENV

    - name: Restore NuGet packages
      run: dotnet restore 

    - name: Ensure artifacts folder exists
      run: mkdir -Force "${{ env.OutputDirectory }}"

    - name: Package into ZIP
      run: dotnet msbuild -t:Package `
        -p:Configuration=${{ matrix.configuration }} `
        -p:OutputDirectory="${{ env.OutputDirectory }}" `
        -p:Version="${{ env.Version }}"

    - name: Upload package
      uses: actions/upload-artifact@v4
      with:
          name: zippy-${{ env.SafeVersion }}
          if-no-files-found: error
          retention-days: 7
          path: ${{ env.OutputDirectory }}/TestDataPlugin-v${{ env.SafeVersion }}.zip


